<div class="Container">
    <mat-toolbar>
        <span>Crear Categoria Producto</span>
    </mat-toolbar>
    <mat-card style="margin-top: 10px;">
        <form [formGroup]="form" (ngSubmit)="agregarCategoriaProducto()">
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-form-field appearance="fill" class="ancho">
                        <mat-label>Nombre de la Categoria Producto</mat-label>
                        <input matInput autocomplete="off" formControlName="categoriaProd_nombre">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="4">

                </mat-grid-tile>
     
                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-form-field appearance="fill" class="ancho">
                        <mat-label>Bodega</mat-label>
                        <mat-select formControlName="categoriaProd_bodega_id">
                            <mat-option [value]="option.bodega_id" *ngFor="let option of bodegas">{{ option.bodega_direccion }}</mat-option>
                          </mat-select>
                    </mat-form-field>

                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button routerLink="/categorias-productos"><i class="bi bi-arrow-left"></i> Volver</button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Aceptar <i class="bi bi-sd-card"></i></button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>