<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand"><i class="bi bi-gear-fill"></i> Transport SIS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link"><i class="bi bi-house"></i> Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-window-plus"></i> Mantenimientos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="departamentos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ><i class="bi bi-geo-alt"></i> Departamentos</a>
            <a class="dropdown-item" routerLink="tipos-vehiculos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="bi bi-diagram-3"></i> Tipos Vehiculos</a>
            <a class="dropdown-item" routerLink="clientes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="bi bi-people-fill"></i> Clientes</a>
            <a class="dropdown-item" routerLink="bodegas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="bi bi-box2"></i> Bodegas</a>
            <a class="dropdown-item" routerLink="plantas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="bi bi-building"></i> Plantas</a>
            <a class="dropdown-item" routerLink="vehiculos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="bi bi-speedometer"></i> Vehículos</a>
            <a class="dropdown-item" routerLink="categorias-productos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="bi bi-diagram-3"></i> Categorias Productos</a>
            <a class="dropdown-item" routerLink="productos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="bi bi-basket2"></i> Productos</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-bounding-box"></i> Servicios
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="servicios" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ><i class="bi bi-boxes"></i> Servicios</a>
            <a class="dropdown-item" routerLink="solicitudes-transporte" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="bi bi-calendar-week"></i> Solicitudes de Transportes</a>
          </div>
        </li>
      </ul>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Usuario
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button">Cerrar Sesión</button>
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>