<div class="Container">
    <mat-toolbar>
        <span>Crear Tipo de Vehículo</span>
    </mat-toolbar>
    <mat-card style="margin-top: 10px;">
        <form [formGroup]="form" (ngSubmit)="agregarTipoVehiculo()">
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-form-field appearance="fill" class="ancho">
                        <mat-label>Nombre del Tipo de Vehículo</mat-label>
                        <input matInput autocomplete="off" formControlName="tiposVehi_nombre">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="4">

                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-form-field appearance="fill" class="ancho">
                        <mat-label>Capacidad</mat-label>
                        <input matInput autocomplete="off" formControlName="tiposVehi_capacidad">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-form-field appearance="fill" class="ancho">
                        <mat-label>Medida</mat-label>
                        <input matInput autocomplete="off" formControlName="tiposVehi_medida">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button routerLink="/tipos-vehiculos"><i class="bi bi-arrow-left"></i> Volver</button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Aceptar <i class="bi bi-sd-card"></i></button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>